<!-- <div fxLayout='column' fxLayoutAlign='center center' style="min-height:100vh; background:yellowgreen;"> -->
<div fxLayout='column' fxLayoutAlign='center center'>
    
  <div fxFlex='10vh' fxFlexAlign='center' style='background:burlywood;'>
    <div style='min-height:50px;'>
      <h1>
        {{title}}
      </h1>
    </div>
  </div>

  <div fxFlex='80vh' fxFlexAlign='center' style='background:aquamarine;'>
  
    <ws-vanilla-page></ws-vanilla-page>
  
  </div>

</div>