<!-- <div fxLayout='row' fxLayoutAlign='center center'> -->

  <!-- <div fxFlex='600px'> -->
    <div fxFlex="100%" fxLayout='column' fxLayoutAlign='center center'>

      <div fxFlex='90%' fxFlexAlign='center' style='background:cornflowerblue;'>
        <ws-vanilla-article></ws-vanilla-article>
      </div>

      <div fxFlex='10%' fxFlexAlign='center' style='background:darkorchid;'>
        <ws-vanilla-signup></ws-vanilla-signup>
      </div>

    </div>
  <!-- </div> -->
<!-- </div> -->
